body{
    /* background-image: url("gif.gif"); */
    /* background-repeat: ; */
    background-image: url("gif.gif");
    /* background-color: grey ; */
    background-size: 0.5%;
    background-position:45px 10px;
    /* opacity: 0.1; */
    fill-opacity: 0.7;
}
/* #main_container{
    position: fixed;

} */

#logocontainer{
    /* background-image: url("logo background.jpg"); */
    background-repeat: no-repeat;
    background-color: tomato;
    filter: invert();
    width: 100%;
    margin-top: -20px;
    height: 80px;
    display: flex;
}
#order_greenscreen{
    display: flex;
    margin-left: 45vw;
    margin-top: 40px;
    /* padding: 4vw; */
    text-decoration: none;
    font-size: 15px;
    color: black;
}
#order_greenscreen:hover{
    border-radius: 5px;
    background-color: rgb(200, 220, 20);
    height: 20px;
    /* color: #000; */
    /* font-size: 20px; */
}
#container{
    width: 100%;
    height: 40px;
    margin-top: -8px;
    /* position: fixed; */
}
#logo{
    height: 50px;
    margin-top: 25px;
    margin-left: 40px;
}
#logoname{
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    margin-left: 10px;
    margin-top: 37px;
    cursor: default;
}
.nav-link{
    font-weight: 600;
}
.nav-link:hover{
    border-right: 30px;
    border-radius: 16px;
    transition: .5s;
    padding: 7px;
    opacity: 10%;
    color: rgb(8, 0, 0);
}
li{
    margin-bottom: 25px;
}

#first-hr{
    opacity: 10%;
    margin-top: -10px;
}
#Content{
    margin-left: 150px;
}
#online-text{
    font-weight: 700;
}

#email{
    text-decoration: none;
}

#file_upload[type="file"]{
    display: none;
}
#file_upload_text{
    color: #000;
    height: 60px;
    width: 100vh;
    background-color: #00ffea;
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 60px;
    cursor: grab;

}
#file_upload_text_background{
    color: #000;
    height: 60px;
    width: 100vh;
    background-color: #ff0040;
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 60px;
    cursor: grab;

}
#difference{
    grid-column: auto;
}
#grid_container{
    padding: 20px;
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.grid_icon{
    width: 25px;   
}
.grid_item h6{
    font-size: 18px;
    font-weight: 700;
}
.grid_item{
    background-color:#eff1fc;
    /* border: 1px solid black; */
    padding: 20px;
    text-align: center;
    border-radius: 5px;

}

#difference h5{
    margin: 90px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}
#final_image{
    border: 3px double grey;
    /* opacity: .3; */
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("gif.gif");
    /* background-color: grey ; */
    background-size: 5%;
    background-position:45px 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    cursor: progress;
    border-radius: 30px;
}
footer{
    background:rgb(12, 12, 12);
    /* height:1.5vw; */
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #ffff;
}
#footer_name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 47vw;
    font-weight: bold;
    font-size: 20px;
    cursor: default;
}
#about{
    display: flex;
    list-style: none;
    justify-content: center;
}
#about li a{
    text-decoration: none;
    margin: 30px;
    color: #ffff;
}
#about li a:hover{
    font-size: 18px;
}
#socials{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: -20px;

}
#socials li a{
    margin-left: 30px;
    text-decoration: none;
    color: #ffff;
}
#socials li a:hover{
    font-size: 20px;
}